* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

#home-img {
    max-width: 400px;
    max-height: 400px;
    /*margin: 0 auto 0 auto;*/
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin-bottom: 0;
}

.carousel-wrap {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*max-width: 500px;*/
    /*max-height: 500px;*/
}

/*#welcome-body {*/
/*    width: 100%;*/
/*}*/

.page-title {
    width: 75%;
    text-align: center;
    margin: auto auto 25px auto;
    padding: 25px;
    border-bottom: 1px solid rgb(138 138 138);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh; /* will cover the 100% of viewport */
    /*overflow: hidden;*/
    /*display: block;*/
    /*position: relative;*/
    /*padding-bottom: 100px;*/
}

footer {
    width: 100%;
    height: auto;
    padding: 65px;
    /*position: absolute;*/
    /*bottom: -20px;*/
}

.img-brand {
    max-width: 60px;
    height: 60px;
}

#support-header {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#social-media {
    display: flex;
}

.icon {
    font-size: 25px;
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 5px;
}
