<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/navbar :: head ('Gunsmithing')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Gunsmith Services</h1>
<div class="page-container">
    <div class="container">
        <div>
            <div>
                <h3>Precision Rifle Services</h3>
            </div>
            <div>
                <p>Install trigger, DBM, Scope Rail, Scope, Boresight $25 ea</p>
                <p>Range Sight $75 plus ammo /work up load, break in new barrel $325</p>
                <p>Barrel Job: Chamber, fit to action, crown, $300</p>
                <p>Barrel Thread: $120, install and time muzzle brake $150<br>
                    *Threading when barreling $75 * Installing VAIS style brake $175<br>
                    *Chop barrel, crown and thread $150</p>
                <p>Action Truing (Blue Printing): $200</p>
                <p>8-40 rail screws (Drill & Tap Action ) $20 ea</p>
                <p>Bolt fluting: $125-250</p>
                <p>Bush firing pin: $135</p>
                <p>Install bolt knob: $50 + bolt knob (Remington and Winchester RH only)</p>
                <p>M16 Extractors/Sako Extractor install: $200</p>
                <p>Install side bolt release:$125 + Parts</p>
                <p>Flute Barrel: $200</p>
                <p>Install A5 DBM: $125</p>
                <p>Bed Stock or Chassis $150</p>
                <p>Pillar Bed Stock $250</p>
                <p>Installing Picatinny Rail for Atlas on customer Stock: $100</p>
            </div>
            <div>
                <h3>AR-15 Services</h3>
            </div>
            <div>
                <p>Gas block removal and install lo pro gas block - $30</p>
                <p>Handguard install - $50</p>
                <p>Time muzzle brake or compensator (If mounting a suppressor mount will check and verify that its
                    concentric - $10-$20</p>
                <p>Build Complete Upper - $45 (Not Including Parts)</p>
                <p>Build Complete Lower - $45 (Not Including Parts)</p>
                <p>Build Complete Rifle - $80 (Not Including Parts)</p>
                <p>Install QD Sling Endplates - $20</p>
                <p>Install Trigger $20</p>
                <p>Rifle to Carbine stock conversion /Vice Versa - $20</p>
            </div>
            <div>
                <h3>AK Services</h3>
            </div>
            <div>
                <p>SAIGA RIFLE CONVERSION SERVICE STARTING @ 125.00 + PARTS</p>
                <p>Install butt stock, pistol grip, bullet guide, modify magazine release, & install control group.</p>
                <p>SAIGA 12 SHOTGUN CONVERSION SERVICE STARTING @ 100.00 + PARTS</p>
                <p>Install butt stock, pistol grip, & install control group.</p>
                <p>Hand threading for muzzle brake: $60</p>
                <p>Lathe threading for suppressor use : $225 (requires removal of the barrel and reinstall of
                    barrel)</p>
                <p>AK tuning service (Smoothing out action and polishing internals): $80</p>
            </div>
            <div>
                <h3>Miscellaneous Services</h3>
            </div>
            <div>
                <p>Service charge Per Hour: $60</p>
                <p>Minimum Charge per gun: $25</p>
                <p>Basic Cleaning: $20</p>
                <p>Detailed Cleaning :Completely stripping your firearm, cleaning all parts, checking for wear or broken
                    parts, and making suggestions of services needed to put it in A-1 condition. Price is based on the
                    complexity of the firearm. :$40 to $100</p>
                <p>Glock Maintenance Service - $120 (Includes full cleaning and inspection and replacement of parts by
                    Glock Certified Armorer.)</p>
                <p>AR-15 M4 Maintenance Service - $120 (Includes full cleaning and inspection plus replacement of
                    commonly worn parts)</p>
                <p>Mounting Scope :$30 - $60</p>
                <p>RMR Slide Cut $160 (Glock, M&P, CZ, 1911 only)</p>
                <p>RMR Cut with glock rear dovetail $225</p>
            </div>
        </div>
    </div>
    <footer th:replace="partials/navbar :: footer"></footer>
</div>
<div th:replace="partials/navbar :: scripts"></div>
</body>
</html>